*{
    margin: 0;
    padding: 0;
}

/* container */
.container{
    height: 100vh;
    width: 100%;
    
}

.container2{
    margin: 0 20px 0 20px;
    height: 100vh;
}

/* header */
header{
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 13%;
    justify-content: space-between;
    color: white;
}

header .date-time{
    margin: 30px 0 30px 30px;
}

header .logo{
    margin: -205px 0 0 0;
}

header .weather-stock{
    margin: 20px 30px 40px 0px;
}


/************ Navbar Css ************/
nav{
    height: 50px;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 9999;
    text-align: center;
    box-shadow: 0 4px 2px -2px gray;
  }

 nav .navList a{
    padding: 10x;
  }
  
  nav div{
    height: 120px;
  }
  
  

  /************ Main Css ************/

  main{
    display: flex;
    margin-top: 20px;
  }

main ul{
  list-style: none;
}  

  main .c1-container{
    
    /* width: 60%; */
    padding: 10px;
  }
  main .c1-container button img{
    width:100%;
  }
  
  main .c1-container button{
    width: 5%;
    height: 5%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }

  
 .c1-container .news-data li{
    display: flex;
  }
  
  .img-section{
    margin-left: 10px;
}

.img-section span{
  font-weight: bold;
}

main .c3-container{
  /* width: 30%; */
  padding: 10px;
  text-align: center;
}

main .c3-container button img{
  width:100%;
}

main .c3-container button{
  width: 5%;
  height: 5%;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.c3-container .news-data li{
  display: block;
}